# Builds
[Aa]stroGalaxy/[Bb]in
[Aa]stroGalaxy/[Oo]bj/Debug

# JetBrains cache directory
.idea/

# MonoGame cache directory
[Aa]stroGalaxy/[Cc]ontent/[Bb]in
[Aa]stroGalaxy/[Cc]ontent/[Oo]bj

# Visual Studio cache directory
.vs/

# Gradle cache directory
.gradle/
